*{
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    background-color: #1F2937;
    background-image: linear-gradient(rgb(0, 0, 0) ,#202020, #09864c);
    display: flex;
    align-items: center;
    justify-content: center; 
    font-family: 'Karla', sans-serif;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0 auto ;
}

.intro{
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(209, 209, 209) ;
}

.line-one{
    color:rgb(255, 255, 255);
    margin-bottom: 0;
}

.line-two{
    margin-top: 0;
    color: #0be07d;
    margin-bottom: 0;
}

.line-one ,.line-two {
    letter-spacing: -0.025em;
}

p{
    color: #D5D4D8;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: 14px;
}

#generator{
    padding: 9px 17px 9px 15px;
    color: white;
    background-color: #04a366;
    border: none;
    border-radius: 6px;
    margin-top: 30px;
    height: 42px;
    font-size: 16.7px;
}

.field {
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    color: rgb(255, 255, 255);
    height: 42px;
    /* background-color: #181d1a77; */
    box-shadow: 0.1px 1px 7px rgba(85, 249, 145, 0.75);
    border: none;
    border-radius: 6px;
}

button{
    cursor: pointer;
}

button:active {
    transform: translateY(2px);
}

.input {
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: transparent;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    font-size: 12px;
    box-shadow: 0.1px 1px 7px rgb(85, 249, 145, 0.5);
    text-shadow: 1px 0.4px black;
    padding: 2px 6px 2px 6px;
}

.btns-container{
    display: flex;
    padding: 25px 0;
    gap: 25px;
}

#copied{
    text-align: center;
}